.top {
  font-size: 16px;
  font-weight: 600;
  width: 100%;
  height: 600px;
  display: grid;
  text-transform: uppercase;
  grid-template-rows: 30px 6fr;
  padding: 0.5em;
  position: relative;
  /* background-image: url(/assets/images/cosmosHeader.jpg), */
    /* radial-gradient(#0ba3b0, #111 70%); */
  background-blend-mode: multiply;
  background-position: center;
  background-size: cover;
}

.top_menu_items a:hover {
  color: #a75fb5;
  text-decoration: underline;
}

.top_menu {
  display: grid;
  grid-template-columns: 3fr 6fr 3fr;
  grid-gap: 20px;
  text-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid #6e707d;
}

.top_menu_logo {
  color: #fff;
  display: grid;
  text-align: center;
  align-items: center;
}

.top_menu_items {
  font-size: 14px;
  display: grid;
  text-align: center;
  align-items: center;
  grid-template-columns: repeat(4, 2fr);
}

.top_menu_social_icons {
  font-size: 10px;
  font-weight: 900;
  color: #fff;
  display: grid;
  text-align: center;
  align-items: center;
  grid-template-columns: repeat(3, 2fr);
}

.top_menu_social_icons a:hover {
  color: #0ba3b0;
}

.top_content {
  display: grid;
  justify-items: center;
  align-content: center;
}

.top_content h3 {
  color: #fff;
  font-size: 8vw;
  letter-spacing: 10px;
  font-weight: 900;
  line-height: 1em;
  text-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.top_content span {
  font-weight: normal;
}

.top_content p {
  font-size: 1.5em;
  font-weight: 500;
  letter-spacing: 1em;
  background: #fff;
  color: #111;
  padding: 0 30px;
  text-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
