.center {
  display: grid;
}

.center_about {
  padding: 15px;
  text-align: center;
  background-image: linear-gradient(to right, #a75fb5, #0ba3b0);
  /* height: 400px; */
  border-style: solid;
  border-width: 45px 0px 45px 0px;
  /* -moz-border-image: url(/assets/images/rall.png) 200 0 200 0 repeat repeat;
  -webkit-border-image: url(/assets/images/rall.png) 200 0 200 0 repeat stretch;
  -o-border-image: url(/assets/images/rall.png) 200 0 200 0 repeat repeat;
  border-image: url(/assets/images/rall.png) 200 0 200 0 repeat repeat; */
}

.center_about h3 {
  text-transform: uppercase;
  font-size: 3vw;
  font-weight: 900;
  text-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

.center_about_content {
  padding: 15px;
  text-align: justify;
  display: grid;
  grid-template-columns: repeat(2, 5fr);
  grid-gap: 30px;
}

.center_projects {
  width: 100%;
  display: grid;
  grid-gap: 10px;
  padding: 0.5em;
  /* background-image: url(/assets/images/projects.jpg), */
    /* radial-gradient(#a75fb5, #111 75%); */
  background-blend-mode: hard-light;
  background-position: center;
  background-size: cover;
}

.center_projects h3 {
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-size: 3vw;
  font-weight: 900;
  text-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

.center_projects_content {
  color: #fff;
  padding: 15px;
  text-align: center;
  display: grid;
  grid-template-rows: repeat(3, 6fr);
  grid-template-columns: repeat(3, 5fr);
  grid-gap: 30px;
}
